$arrow-left: (0px, 0px, 0px, 0px, 17px, 27px, 56px, 27px, 'sprite.png');
$arrow-right: (20px, 0px, -20px, 0px, 17px, 27px, 56px, 27px, 'sprite.png');
$list-item: (40px, 0px, -40px, 0px, 16px, 10px, 56px, 27px, 'sprite.png');
