%section {
  padding: 85px 0;

  &:nth-child(2n) {
    background-color: $lightgrey;
  }

  p + p {
    margin-top: 1em;
  }

  @include tablet-p {
    padding: 50px 0;
  }
}

.sec {
  @extend %section;
}
