// @import "interface/pageheader";
// @import "interface/pagefooter";
@import "interface/blocks/buttons";
@import "interface/gadgets";
// @import "interface/blocks/accordion";
// @import "interface/blocks/collapsible";
// @import "interface/blocks/inputfile";
// @import "interface/blocks/upbtn";
@import "interface/blocks/lists";
// @import "interface/blocks/tabs";
// @import "interface/blocks/navbar";

.ks-wrapper {
	background-color: #fff;
	max-width: 1350px;
	margin: 0 auto;
	background: #FFF;
	position: relative;
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1), -2px 0 4px rgba(0, 0, 0, 0.1);

	@include tablet-l {
		width: 1024px;
	}

	@include tablet-p {
		width: 768px;
	}

	@include mobile {
		width: auto;
	}
}

.center {
	width: 1050px;
	margin: 0 auto;

	@include tablet-l {
		width: 845px;
	}

	@include tablet-p {
		width: 610px;
	}

	@include mobile {
		width: auto;
		padding: 0 15px;
	}
}
