@mixin responsive($max-width) {
	@media (max-width: #{$max-width}+ 'px') {
		@content;
	}
}

@mixin tablet-l {
	@include responsive($tabl) {
		@content;
	}
}

@mixin tablet-p {
	@include responsive($tabp) {
		@content;
	}
}

@mixin mobile {
	@include responsive($mob) {
		@content;
	}
}

@mixin image-png($image-name) {
	@at-root .no-webp & {
		background-image: url(../images/#{$image-name}.png);
	}

	@at-root .webp & {
		background-image: url(../images/#{$image-name}.webp);
	}
}

@mixin image-jpg($image-name) {
	@at-root .no-webp & {
		background-image: url(../images/#{$image-name}.jpg);
	}

	@at-root .webp & {
		background-image: url(../images/#{$image-name}.webp);
	}
}

@mixin vam {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin: 0 0 0 -4px;
}

@mixin poacenter {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

@mixin fullpseudo {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	@include size(100%);
}

@mixin forsprite($left:0,$top:0) {
  position: absolute;
  content: '';
  left: $left;
  top: $top;
}

@mixin spriteWidth($sprite) {
    width: nth($sprite, 5);
}

@mixin spriteHeight($sprite) {
    height: nth($sprite, 6)
}

@mixin spritePosition($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin spriteImage($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../images/#{$sprite-image});
}

@mixin spriteImage-webp($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../images/sprite.webp);
}

@mixin sprite-webp-mixin($sprite) {
	@include spriteImage-webp($sprite)
	@include spritePosition($sprite)
	@include spriteWidth($sprite)
	@include spriteHeight($sprite)
}

@mixin sprite($sprite) {
	@include spriteImage($sprite);
	@include spritePosition($sprite);
	@include spriteWidth($sprite);
	@include spriteHeight($sprite);
}

@mixin sprite-in($sprite, $left, $top) {
	@include forsprite($left, $top);

	@include spriteImage($sprite);
	@include spritePosition($sprite);
	@include spriteWidth($sprite);
	@include spriteHeight($sprite);
}

@mixin offscreen {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@mixin onscreen {
	position: relative;
	clip: auto;
	width: auto;
	height: auto;
	overflow: visible;
	white-space: normal;
}
