<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#229fff">
    <title>GSM feed</title>

    <style>
    .gadgets[v-cloak] {
      opacity: 0;
    }
    </style>

    <link rel="preload" href="styles/main.min.css" as="style" onload="this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="styles/main.min.css"></noscript>

    <!-- loadCSS script && rel=preload polyfill -->
    <script async src="scripts/loadcss.full.min.js"></script>

    <!-- preload -->
    <link rel="preload" href="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" as="script">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js" as="script">
    <link rel="preload" href="scripts/main.min.js" as="script">
  </head>
  <body>
    <div class="ks-wrapper">
      <main role="main">
        <section class="gadgets" v-cloak>
          <div class="gadgets__inner">

            <article v-for="gadget in gadgets | limitBy limit" class="gadget" v-on:blur="gadgetBlurhandler" v-on:focus="gadgetFocushandler">
              <div class="gadget__inner">
                <a v-bind:href="gadget.url" class="gadget__name"><span>{{ gadget.model }}</span></a>
                <figure class="gadget__pic">
                  <div class="gadget__icons"></div>
                  <a v-bind:href="gadget.url">
                    <img class="gadget__img" height="190" v-on:load="imageLoaded" v-bind:src="gadget.picture" v-bind:title="gadget.model" />
                  </a>
                </figure>
                <div class="gadget__moar">
                  <div class="gadget__price price">
                    <div class="price__current">
                      <div class="price__count">{{ gadget.price }}</div>
                      <div class="price__currency">грн</div>
                    </div>
                    <!-- <div class="price__old">
                      <div class="price__count">16 000</div>
                      <div class="price__currency">грн</div>
                    </div> -->
                  </div>
                  <a v-bind:href="gadget.url" class="blue-btn gadget__btn">Купити</a>
                </div>
              </div>
              <div class="gadget__extra">
                <ul class="ok-list">
                  <li v-for="feature in gadget.features" class="ok-list__item">{{ feature }}</li>
                </ul>
              </div>
            </article>

          </div>
        </section>

        <!-- <section class="gadgets" v-cloak>
          <div class="gadgets__inner">
            <article v-for="gadget in gadgets | shuffle | limitBy limit" class="gadget">
              <a v-bind:href="gadget.url" class="gadget__name">{{ gadget.model }}</a>
              <figure class="gadget__pic">
                <div class="gadget__icons">
                  <svg class="internet-gift" width="63px" height="63px" viewBox="0 0 67 67" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <circle fill="none" stroke="#0e9eff" stroke-width="2" cx="33.5" cy="33.5" r="32.75" />
                    <g transform="translate(25, 17)" fill="#0e9eff">
                      <path d="M8.5776719,6.29107137 C8.8527928,6.40170369 9.16605516,6.27318354 9.27889307,6.00395878 C9.97475989,4.34395545 11.8451457,0.546616028 14.180897,1.11455454 C15.3345275,1.39745442 16.0196195,2.39735803 15.8476855,3.54742866 C15.6150027,5.09893842 13.7918806,6.84164054 9.42987244,6.639884 C9.14404285,6.62880132 8.88234087,6.85058445 8.8677982,7.14139127 C8.85385045,7.43219808 9.08329414,7.67822051 9.37930361,7.69241412 C9.62540526,7.70349679 9.8645,7.70874648 10.0971827,7.70874648 C14.6654985,7.70874648 16.6273049,5.59091848 16.9104242,3.70018811 C17.1618802,2.02171366 16.1232691,0.505007386 14.4408803,0.0919670872 C11.4028502,-0.645581729 9.28094227,3.22654955 8.28424046,5.60355662 C8.1725263,5.87278138 8.30307983,6.18043904 8.5776719,6.29107137 Z" stroke="#FFFFFF" stroke-width="0.3" />
                      <path d="M2.8614611,1.11585044 C5.25525089,0.525292896 7.14553375,4.48167844 7.84781256,6.20759452 C7.95741142,6.47785625 8.27067378,6.61058912 8.54579468,6.50209555 C8.8214444,6.39463897 8.9557658,6.08801828 8.84616694,5.81775654 C7.84510234,3.35435646 5.70283465,-0.664766099 2.6014117,0.0938462817 C0.927682443,0.503646032 -0.112052449,2.01406564 0.129752513,3.68463315 C0.403220835,5.57484504 2.35907791,7.71062568 6.94841445,7.71062568 C7.13218093,7.71062568 7.32077293,7.70693145 7.51313281,7.699543 C7.8097372,7.68846032 8.04129619,7.44457665 8.03005867,7.15376984 C8.01928388,6.86296302 7.77265339,6.61797757 7.47287606,6.64694807 C3.18880341,6.80443872 1.41565517,5.06860656 1.1931523,3.5366049 C1.02763026,2.39230245 1.71377993,1.39713004 2.8614611,1.11585044 Z" stroke="#FFFFFF" stroke-width="0.3" />
                    </g>
                    <text fill="#0e9eff">
                      <tspan x="13" y="40">
                        <template v-if="gadget.price>= 3500 &&gadget.category == 211">3000</template>
                        <template v-else>1000</template>
                      </tspan>
                    </text>
                    <text class="mb" fill="#0e9eff">
                      <tspan x="25" y="53">МБ</tspan>
                    </text>
                  </svg>
                </div>
                <a v-bind:href="gadget.url">
                  <img v-bind:src="gadget.picture"/>
                </a>
              </figure>
              <div class="gadget__moar">
                <div class="gadget__price">
                  {{ gadget.price }}
                  <div class="gadget__price-currency">грн</div>
                </div>
                <a v-bind:href="gadget.url" class="blue-btn small-btn">Детальніше</a>
              </div>
            </article>
          </div>

          <div class="gadgets__moar">
            <button class="yellow-btn" @click.prevent="showMore($event)">Показати більше</button>
          </div>
        </section> -->
      </main>

      <!-- async font load -->
      <script async src="scripts/fontfacesnippet.js"></script>

      <!-- /sites/default/files/promotions/LANDINGURL/ -->
      <!-- basket.js -->
      <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
      <script defer src="scripts/main.min.js"></script>
    </div>
  </body>
</html>
