// <div class="custom-file">
// 	<label>
// 		<span class="custom-file__btn blue-btn">Оберіть файл</span>
// 		<input type="file" class="custom-file__input" />
// 	</label>
// 	<span class="custom-file__name">&nbsp;</span>
// </div>

.custom-file {
	&__label {
		display: inline-block;
	}

	&__btn {
		padding: 7px 20px;
		font-size: .875rem;
	}

	&__name {
		margin-bottom: 10px;
		display: block;
		margin-top: 10px;
	}

	&__input {
		width: 0;
		height: 0;
		overflow: hidden;
		opacity: 0;
    max-width: 0;
	}
}
