.navbar {
	display: flex;
	align-items: center;
	padding-right: 1px;

	&__item {
		border: 1px solid $grey;
		padding: 4px;
		position: relative;
		flex-grow: 1;
		flex-shrink: 0;
    text-align: center;
		font-size: rem(14px);
		color: $blue;
		cursor: default;
		transition: border-color .2s;

		& + & {
			margin-left: -1px;
		}

		&:hover {
			z-index: 1;
			border-color: shade($grey, 20%);
		}

		&.active,
		&.slick-current {
			z-index: 10;
			border-color: #3b4952;
			color: #3b4952;
		}
	}

	&--medium {
		.navbar__item {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}
